# Compilação
bin/
obj/
[Bb]uild/
[Bb]uilds/

# Arquivos de usuário e IDE
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Testes
TestResults/
*.trx
*.coverage
*.coveragexml

# Pacotes NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Logs
*.log

# Configurações locais
appsettings.Development.json

# Publicações
publish/
